<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cdfi.fintantra.meity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".AppController"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        tools:replace="android:roundIcon,android:icon,android:theme">

        <activity
            android:name=".aepslist"
            android:exported="false" />
        <activity
            android:name=".Paymentpending"
            android:exported="false" />
        <activity
            android:name=".MemberMapping"
            android:exported="false" />
        <activity
            android:name=".GPSActivity"
            android:exported="false" />
        <activity
            android:name=".Consent"
            android:exported="false" />
        <activity
            android:name=".ChangeMpin"
            android:exported="false" />
        <activity
            android:name=".Mpin"
            android:exported="false" />
        <activity
            android:name=".SingleLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Errorpage" />
        <activity android:name=".DuplicateFarmerList" />
        <activity android:name=".Demandaggregation" />
        <activity
            android:name=".MainActivityp"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Paymentlist2"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ProductionTab"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Otherinputsicd"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Othercosticd"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Dashboard3"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.Qpar"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".SnoActivity2"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.FDR"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.SnoActivitype"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.Qparpe"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.Purchaseentrylist"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.recactpurchase.RecActualPurchaseActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.Saleentrylist"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Pawhs.SaleEntry"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pawhs.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StockAdjustment2"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".Fheader" />
        <activity android:name=".Issueconfirm" />
        <activity android:name=".Issuetransfer" />
        <activity android:name=".Pawhs.SnoActivity" />
        <activity android:name=".FPOlist" />
        <activity
            android:name=".MainActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:screenOrientation="portrait" />
        <activity android:name=".Loginicd" />
        <activity android:name=".QRView" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MYApp" />
        <activity android:name=".VSA" />
        <activity android:name=".VSlist" />
        <activity
            android:name=".Paymentlist"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Bookinvoicenew"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Stockinwardnew"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Viewstockadj"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Viewstockinward"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".StockAdjustment"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Payment"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Bookinvoice"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".StockInward"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Dashboard2"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Landpage"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Pawhs.QparSalenew"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <service android:name=".NewService" />
    </application>

</manifest>